coin-backup.tar.gz filter=lfs diff=lfs merge=lfs -text
coin-snapshot.sh filter=lfs diff=lfs merge=lfs -text
coin-backup.tgz.gpg filter=lfs diff=lfs merge=lfs -text
mongo-backup.tgz.gpg filter=lfs diff=lfs merge=lfs -text
bank.tgz.gpg filter=lfs diff=lfs merge=lfs -text
